.app {
  display: flex;
  flex-direction: column;
}

.nav {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #364652;
  color: #eeeeee;
  font-weight: bold;
  height: 60px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.navigation-buttons button {
  font-size: large;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  height: 30px;
  transition: color, 0.3s;
}

.navigation-buttons button:focus {
  outline: none;
}

.log-book {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #eeeeee;
  height: 100vh;
  width: 100%;
}

.log-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 80vw;
  max-width: 600px;
  overflow: auto;
}

.log-list-item {
  flex-shrink: 0;
  margin: 20px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #364652;
  border-radius: 7px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
  height: 120px;
  overflow: hidden;
}

.log-list-item h3 {
  margin: 5px;
  padding: 0;
}

.log-list-item-details {
  flex-grow: 1;
}

.log-list-item-image {
  background-color: #fecf12;
  width: 120px;
  height: 120px;
  text-align: center;
}

.add-dive-button {
  flex-shrink: 0;
  font-size: 120px;
  font-weight: 500;
  margin: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2c248d;
  color: #fecf12;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.add-dive-button-plus {
  position: relative;
  top: -44px;
  left: 9px;
}

.map-container {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar-style {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

#modal-root {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 200px;
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.modal {
  color: #364652;
  background-color: #eeeeee;
  width: 450px;
  height: 80vh;
  overflow-y: scroll;
  border-radius: 15px;
  filter: drop-shadow(0 0 6px rgba(0,0,0, 0.6));
}

.modal-content {
  padding: 40px;
}