.app {
  display: flex;
  flex-direction: column;
}

.nav {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #364652;
  color: #eeeeee;
  font-weight: bold;
  height: var(--navheight);
}

.nav-logo {
  margin-left: 40px;
  height: 70%;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.nav-logo-text {
  margin-left: 10px;
  font-size: 35px;
  font-weight: 200;
  color: #fecf12;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.navigation-buttons button {
  font-size: large;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  height: 50px;
  width: 70px;
  transition: color, 0.3s;
  cursor: pointer;
}

.navigation-buttons button:focus {
  outline: none;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fecf12;
  background-image: url("./assets/landingpage.jpg");
  background-size: 100vw 100vh;
  height: 100vh;
  padding: 0px  35vw 0px 35vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  font-weight: 400;
}

.landing-page .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

.logo div {
  font-size: 60px;
  font-weight: 200;

}


.landing-page h1{
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

.landing-page .form-item label {
  font-weight: 500;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

.have-account {
  color: #eeeeee;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 1));
}

.have-account a {
  color: #eeeeee;
}

.log-book {
  position: absolute;
  top: var(--navheight);
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #eeeeee;
  height: calc(100vh - var(--navheight));
  width: 100%;
  overflow-y: scroll;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.log-book-header {
  font-size: 60px;
  font-weight: 300;
  color: #364652;
  margin: 40px 0px 40px 0px
}

.log-book-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 80vw;
  max-width: 650px;
}

.log-list-item {
  flex-shrink: 0;
  margin: 20px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #364652;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 7px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
  height: 120px;
  width: 82%;
  overflow: hidden;
  cursor: pointer;
}

.log-list-item:hover {
  transform: scale(1.1,1.1);
  transition: transform 0.5s;
}

.log-list-item-details {
  flex-grow: 1;
}

.log-list-item-details .country-region {
  font-weight: 300;
}

.log-list-item-details .date {
  font-weight: 300;
}

.log-list-item-image-container {
  background-color: #fecf12;
  width: 120px;
  height: 120px;
  text-align: center;
}

.log-list-item-image {
  height: 100%;
  width: 100%;
}

#add-dive-button {
  flex-shrink: 0;
  font-size: 120px;
  font-weight: 500;
  margin: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2c248d;
  color: #fecf12;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
  cursor: pointer;
}

#add-dive-button:hover {
  transform: scale(1.1,1.1);
  transition: transform 0.5s;
}

#add-dive-button-plus {
  position: relative;
  top: -44px;
  left: 9px;
}

.map-container {
  position: absolute;
  top: var(--navheight);
  right: 0;
  left: 0;
  bottom: 0;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
}

.mapboxgl-popup-content {
  color:  #364652;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  font-weight: 400;
}


.sidebar-style {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: #fecf12;
  background-color: #2c248d;
  border-radius: 5px;
  height: 25px;
  width: 50vw;
  max-width: 500px;
  z-index: 1 !important;
  padding: 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.modal-container {
  font-weight: bold;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navheight));
  width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  color: #364652;
  background-color: #eeeeee;
  width: 450px;
  height: 80vh;
  overflow-y: scroll;
  border-radius: 15px;
  filter: drop-shadow(0 0 6px rgba(0,0,0, 0.6));
}

.close-modal-button {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-weight: bold;
  border-style: none;
  align-self: flex-start;
  padding: 10px;
  cursor: pointer;
}

.close-modal-button:hover {
  transform: scale(1.5,1.5);
  transition: transform 0.5s;
}

.close-modal-button:focus {
  outline: none;
}

.modal-content {
  padding: 0px 40px 40px 40px;
}

.modal-content h1 {
  margin-top: 0px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item label{
  font-size: 20px;
}

.form-item input{
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  height: 30px;
  filter: drop-shadow(0 0 3px rgba(0,0,0, 0.6));
  font-size: 17px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.custom-style-file-input {
  text-align: center;
  font-size: 17px !important;
  margin: 10px 0px 10px 0px;
  background-color: #2c248d;
  color: #eeeeee;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: color, 0.5s;
}

.custom-style-file-input:hover {
  background-color: #fecf12;
  color: #364652;
}

#photos {
  display: none;
}

.submit-btn{
  background-color: #2c248d;
  color: #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  transition: color, 0.5s;
}

.submit-btn:hover {
  background-color: #fecf12;
  color: #364652;
}

.notes-input {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  height: 200px;
  resize: none;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0 0 3px rgba(0,0,0, 0.6));
  font-size: 17px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.photo-preview {
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: #ffffff;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  filter: drop-shadow(0 0 3px rgba(0,0,0, 0.6));
}

.photo-component{
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px 15px 15px;
  margin-bottom: 40px;
  filter: drop-shadow(0 0 6px rgba(0,0,0, 0.6));
}

.photo-component-image {
  margin: 10px;
  width: 100%;
  cursor: pointer;
  filter: drop-shadow(0 0 6px rgba(0,0,0, 0.6));
}

.photo-data {
  padding-top: 10px;
  align-self: flex-start;
  font-size: 20px;
}

.photo-data div{
  margin: 10px 0px 10px 0px
}

.photo-date {
  font-weight: 200;
}

.photo-conditions {
  font-weight: 400;
}

.photo-preview .photo-component-image {
  margin: 10px;
  width: 50%;
}

.dive-details {
  background-color: #ffffff;
  padding: 15px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  filter: drop-shadow(0 0 6px rgba(0,0,0, 0.4));
}

.dive-details div {
  margin: 5px 0px 5px 0px;
}

.dive-stats {
  font-weight: 200;
  padding-left: 20px;
}

.dive-notes {
  font-weight: 200;
}

.dive-details img {
  align-self: center;
  filter: drop-shadow(0 0 6px rgba(0,0,0, 0.4));
}